/* reset */
* {
    margin: 0;
    padding: 0;
}

/* akhir reset */


/* setting awal */
body {
    background-color: #272727;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

/* akhir setting awal */


/* container */
.container {
    margin: auto;
    display: grid;
    margin: 20px 20px;
}

/* akhir container */


/* header */
.header {
    display: grid;
    grid-template-areas:
        'feature-1 hero hero '
        'feature-2 hero hero';
}

.hero {
    grid-area: hero;
    min-height: 450px;
    background-image: url(img/gambar_hero.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.feature {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature a {
    color: hotpink;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 8px;
    padding: 3px;
}

.feature .price {
    font-size: 2em;
    font-weight: 100;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

.feature a:hover {
    color: rgb(181, 113, 125);
}

.feature a:active {
    color: rgb(255, 122, 144)
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/feature1.png);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/feature2.png);
    background-size: cover;
    background-position: center;
}

/* akhir header*/






/* navigasi */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 5px;

}

.menu .brand {
    color: rgb(174, 174, 174);
    font-size: 1.8em;
}

.menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu-list a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.98em;
    font-weight: 500;
    display: block;
    background-color: hotpink;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}

.menu-list a:hover {
    color: rgb(41, 41, 41);
}

.menu-list a:active {
    color: darkgray;
}


/* menu-toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 99;
    height: 20px;
    position: relative;
}


.menu-toggle span {
    display: block;
    height: 2px;
    width: 28px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    transition: 1.2s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

/* akhri toggle */



/* toggle transition */

.menu-toggle:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: rgb(248, 224, 224);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(5px, -6px);
    background-color: rgb(248, 224, 224);
}

/* akhir transition toggle */


/* services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 10px;
    gap: 10px;
}

.service {
    display: grid;
    background-color: white;
    padding: 5px;
    border: 1px solid #aaaa;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    text-align: center;
    place-items: center;
}

.service .icon {
    width: 20vh;
}

/* akhir services */

/* gallery */
.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    color: rgb(255, 122, 144);
    font-size: 2em;
    text-align: center;
    grid-column: 1/-1;
}

/* akhir gallery */



/* footer */
footer {
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* akhhri footer */





































/* responsive */
@media (max-width:1024px) {
    .menu {
        margin-top: 5px;
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        background-color: black;
        color: rgb(255, 208, 231);
        display: block;
        padding: 7px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
    }

}

@media (max-width:768px) {

    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-list a {
        padding: 5px;
        border-radius: 4px;
    }


    .menu ul {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 80vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: rgb(38, 38, 38);
        z-index: 1;
        width: 100%;
        transform: translateY(-100%);
        transition: 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;

        transform: translateY(0);
    }

    .menu-toggle {
        display: flex;
    }


}

@media (max-width:600px) {

    .menu-toggle {
        margin-bottom: 10px;
    }



    .container {
        margin: 10px;
    }

    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2';
    }

    .hero {
        background-position: left;
        height: 90vh;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    .feature {
        padding: 30px;
    }
}

/* akhir responsive */